PORT=3000
# Use either BACKEND_URLS for multiple URLs or BACKEND_URL for one URL
BACKEND_URLS=https://api.example.com,https://admin.example.com,https://service.example.org
# BACKEND_URL=https://api.example.com
